nav {
        text-align: center;

        
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 32px;
    font-weight: bold;
    font-family: sans-serif;
}   

.logo
 {
    width: 200px;
}

.product-card {
    width: 250px;
    border: 1px solid black;
}

.ml20 {
    margin-left: 20px;
}

.ml30 {
    margin-left: 20px;
}

.product-card img {
    width: 100%;
}

main {
margin-bottom: 20px;
}

.products-container {
    display: flex;
}

.botonCarrito{
    margin-left: 25%;
    border: none;
    background: transparent;
    border-radius: 5px;
    border: 2px solid greenyellow;
    padding: 5px;
}
.botonCarrito:hover {
    background-color: greenyellow;
    color: white;
 
footer {
    text-align: center; 
    background-color: #15b376;
    padding: 20px; 
}

footer img {
    width: 40px;
    height: 40px;
    justify-content: center; 
    gap: 30px; 
    flex-wrap: wrap; 
}

.botonCarrito{
    margin-left: 25%;
    border: none;
    background: transparent;
    border-radius: 5px;
    border: 2px solid greenyellow;
    padding: 5px;
}
.botonCarrito:hover {
    background-color: greenyellow;
    color: white;
}
footer {
    text-align: center; 
    background-color: #15b376;
    padding: 20px; 
}

footer img {
    width: 40px;
    height: 40px;
    justify-content: center; 
    gap: 30px; 
    flex-wrap: wrap; 
}
